<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js"></script>
  </head>
  <body>
    <div class="container mx-auto flex flex-col gap-2 mt-8">
        <div>
            <a href="/teams" class="text-sm hover:underline text-gray-600"><-- back to teams list</a>
            <h1 class="text-2xl">Games for the <span class="font-semibold">{{ team['Emoji'] }} {{ team['Location'] }} {{ team['Name'] }}</span> </h1>
        </div>

        <table class="border-collapse table-auto">
            <thead class="">
                <tr>
                    <th class="border-gray-300 p-2 font-semibold">S/D</th>
                    <th class="border-gray-300 p-2 font-semibold">Time</th>
                    <th class="border-gray-300 p-2 font-semibold">Away</th>
                    <th class="border-gray-300 p-2 font-semibold">Home</th>
                    <th class="border-gray-300 p-2 font-semibold">Score</th>
                    <th class="border-gray-300 p-2 font-semibold">State</th>
                    <th class="border-gray-300 p-2 font-semibold">Link</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td class="border border-gray-300 p-2 text-center font-semibold">
                        <a href="http://mmolb.com/watch/{{ game['_id'] }}" class="hover:underline">S{{ game['Season'] }} D{{ game['Day'] }}</a></td>
                    <td class="border border-gray-300 p-2 text-center">
                        <a class="hover:underline" href="https://mmolb.com/watch/{{ game['_id'] }}" class="hover:underline">
                            <time datetime="{{ game['time_iso'] }}">{{ game['time_formatted'] }}</time>
                        </a>
                    </td>
                    <td class="border border-gray-300 p-2 text-center">
                        <a href="http://mmolb.com/team/{{ game['AwayTeamID'] }}" class="hover:underline">{{ game["AwayTeamEmoji"] }} {{ game["AwayTeamName"] }}</a>
                        {% if game['away_pitchers'] %}
                        <div class="text-sm text-gray-600 italic">({{ game["away_pitchers"] }})</div>
                        {% endif %}
                    </td>
                    <td class="border border-gray-300 p-2 text-center">
                        <a href="http://mmolb.com/team/{{ game['HomeTeamID'] }}" class="hover:underline">{{ game["HomeTeamEmoji"] }} {{ game["HomeTeamName"] }}</a>
                        {% if game['home_pitchers'] %}
                        <div class="text-sm text-gray-600 italic">({{ game["home_pitchers"] }})</div>
                        {% endif %}
                    </td>
                    <td class="border border-gray-300 p-2 text-center">
                        {% if game['State'] == 'Complete' %}
                        <span>{{ game["AwayTeamEmoji"] }} {{ game['last']['away_score'] }}</span> - <span>{{ game['last']['home_score'] }} {{ game["HomeTeamEmoji"] }}</span>
                        {% else %}
                        <span class="text-gray-600">(live)</span>
                        {% endif %}
                    </td>
                    <td class="border border-gray-300 p-2 text-center">{{ game['State'] }}</td>
                    <td class="border border-gray-300 p-2 text-center">
                        <a class="hover:underline" href="https://mmolb.com/watch/{{ game['_id'] }}" class="hover:underline">👁️ Watch</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-sm text-center">
            <em>(old games missing? please send me watch links if you got 'em)</em>
        </div>

        <div class="text-center text-sm text-gray-600 mt-16">
            <span class="border-t border-gray-300 px-8 py-1">
            the free cashews: 🍲 grashew design is my pashew 🍲
            </span>
        </div>

        </div>


        <script>
            for (const elem of document.querySelectorAll("time")) {
                const dt = new Date(elem.getAttribute('datetime'));
                console.log(dt);
                const formatted = dateFns.format(dt, 'Pp (O)');
                elem.innerText = formatted;
            }
        </script>
  </body>
</html>