<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-extra-markers@1.2.2/dist/css/leaflet.extra-markers.min.css">
    <script src="https://unpkg.com/leaflet-extra-markers@1.2.2/dist/js/leaflet.extra-markers.min.js"></script>

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }

        body,
        #map {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }

        .extra-marker i {
            display: none;
        }

        .emoji {
            position: absolute;
            color: #fff;
            top: 4px;
            left: 0px;
            display: inline-block;
            width: 100%;
            height: 100%;
            font-size: 18px;
            font-style: normal;
            text-align: center;
        }

        .popup {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <script>
        var map = L.map('map').setView([51.505, -0.09], 3);
        L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            subdomains: 'abcd',
            maxZoom: 20
        }).addTo(map);

        // thanks https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
        function shuffle(array) {
            let currentIndex = array.length;

            // While there remain elements to shuffle...
            while (currentIndex != 0) {

                // Pick a remaining element...
                let randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex--;

                // And swap it with the current element.
                [array[currentIndex], array[randomIndex]] = [
                    array[randomIndex], array[currentIndex]];
            }
        }

        function initMap(data) {
            shuffle(data); // prevent bias in team order and "randomize" visibility

            const latLongCounts = {}
            for (const team of data) {
                if (team.location) {
                    const latLong = [team.location.location.latitude, team.location.location.longitude];
                    const latLongStr = JSON.stringify(latLong);
                    latLongCounts[latLongStr] = (latLongCounts[latLongStr] || 0) + 1;
                }
            }

            const JITTER_RADIUS = 500; // in meters

            for (const key of Object.keys(latLongCounts)) {
                if (latLongCounts[key] > 1) {
                    L.circle(JSON.parse(key), {
                        radius: JITTER_RADIUS,
                        fillOpacity: 0.1,
                        opacity: 0.5,
                        dashArray: "10 10"
                    }).addTo(map);
                }
            }
            
            for (const team of data) {
                if (team.location) {
                    const latLong = [team.location.location.latitude, team.location.location.longitude];
                    const latLongStr = JSON.stringify(latLong);

                    let jitterLatlong;

                    if (latLongCounts[latLongStr] > 1) {
                        // slight random jitter so you can always see overlapping teams
                        const baseLatlong = L.latLng(team.location.location.latitude, team.location.location.longitude);
                        const bounds = baseLatlong.toBounds(JITTER_RADIUS*2);
                        const latRange = bounds.getNorth() - bounds.getSouth();
                        const longRange = bounds.getEast() - bounds.getWest();

                        do {
                            jitterLatlong = L.latLng(bounds.getSouth() + Math.random()*latRange, bounds.getWest() + Math.random()*longRange);
                        } while (jitterLatlong.distanceTo(baseLatlong) > JITTER_RADIUS);
                    } else {
                        jitterLatlong = latLong;
                    }

                    var icon = L.ExtraMarkers.icon({
                        icon: "emoji",
                        svg: true,
                        shape: "square",
                        name: team.emoji,
                        nameClasses: "emoji",
                        markerColor: "#" + team.color,
                    });

                    var marker = L.marker(jitterLatlong, {
                        alt: team.name,
                        icon: icon,
                    }).addTo(map)
                        .bindPopup(`<div class="popup"><a href="http://mmolb.com/team/${team.id}"><strong class="font-semibold">${team.name}</strong></a><br \>(${team.location._original})</div>`);
                }
            }
        }
        fetch("/api/teamlocations").then(r => r.json()).then(initMap);
    </script>
</body>

</html>