<!doctype html>
<html data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.1/css/bulma.min.css" rel="stylesheet" integrity="sha384-u1DpPo/VC1cCewPdLA1ujElPdm1c/ZVa5MNAV6930PlrYYXhoKH/+hui6tE7szxu" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/v/bm/jq-3.7.0/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-NQR9ysESFMRrrks4rwDgTlpUgpKPftZV/S48q+tang2oiEqMIFGM4VDLBYAYdNLc" crossorigin="anonymous">\
    <script src="https://cdn.datatables.net/v/bm/jq-3.7.0/dt-2.2.2/datatables.min.js" integrity="sha384-SZXx6mFkCRJyGW8C8nsVaJpL1eMbIWwRRly7435CnZNwoIdr1QE2NpCihEcTIaM7" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.2.2/sorting/absolute.js"></script>
  </head>
  <body>
    <div class="container mx-auto flex flex-col gap-2 mt-8">
        <div>
            <a href="/teams" class="text-sm hover:underline text-gray-600"><-- back to teams list</a>
            <h1 class="text-2xl">Stats for the <span class="font-semibold">{{ team['Emoji'] }} {{ team['Location'] }} {{ team['Name'] }}</span> </h1>
        </div>

        <table class="table" id="stats">
            <thead>
                <tr>
                    <th>Pos</th>
                    <th data-class-name="text-nowrap">Name</th>
                    <!-- <th>Team</th> -->

                    {% for d in stat_defs %}
                    <th>{{ d['name'] }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td data-order="{{ player['idx'] }}">{{ player['position'] }}</td>
                    <td>{{ player['name'] }}</td>
                    <!-- <td>{{ player['team_emoji'] }} {{ player['team_name'] }}</td> -->

                    {% for d in stat_defs %}
                    {% if player['stats'] %}
                    <td data-order="{{ (player['stats'][d['key']] | string).replace('None', '') }}">
                        <span class=" font-mono {{ color_stat(d['key'], player['stats'][d['key']], d['league_avg'], d['league_stddev'], d['up_good'])}}">{{ d['format'](player['stats'][d['key']]) }}
                    </td>
                    {% else %}
                    <td data-order=""></td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-center text-sm text-gray-600 mt-16">
            <span class="border-t border-gray-300 px-8 py-1">
            the free cashews: 🍲 grashew design is my pashew 🍲
            </span>
        </div>

        </div>


        <script>
            for (const elem of document.querySelectorAll("time")) {
                const dt = new Date(elem.getAttribute('datetime'));
                const formatted = dateFns.format(dt, 'Pp');
                elem.innerText = formatted;
                elem.setAttribute("title", dateFns.formatISO(dt))
                elem.classList.add("underline")
                elem.classList.add("decoration-dotted")
            }

            var numbersType = $.fn.dataTable.absoluteOrderNumber( [{ value: '', position: 'bottom' }] )

            const table = $("#stats").DataTable({
                paging: false,
                // order: [[0, ""]],
                autoWidth: true, 
                columns: [
                    null,
                    null, 
                    // null,
                    {% for d in stat_defs %}
                    {name: "{{d['key']}}"},
                    {% endfor %}

                ],
                columnDefs: [
                    {% for d in stat_defs %}
                    {"target": "{{d['key']}}:name", "type": numbersType, "orderDataType": numbersType},
                    {% endfor %}
                ]
            });
        </script>
  </body>
</html>