<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js"></script>

    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-EMec0P+bM7BzPRifh0Da2z4pEzNGzbb1pmzxZ/E0fZjPky+56QS2Y+x6U/00/L2z" crossorigin="anonymous"> 
    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.2.2/datatables.min.js" integrity="sha384-h+dgoYlXhgp1Rdr2BQORgRZ8uTV8KHpMEDxsAXD5RMRvytPCeeiubqmZx5ZIewmp" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container mx-auto flex flex-col gap-4 m-4">
        <div class="flex flex-col">
            <table class="border-collapse table-auto" id="teams">
                <thead class="">
                    <tr>
                        <th class=""></th>
                        <th class="">Name</th>
                        <th class="" data-class-name="">ID</th>
                        <th class="">League</th>
                        <th class="">Wins</th>
                        <th class="">Losses</th>
                        <th class="">Run Diff.</th>
                        <th class="" data-class-name="text-center text-nowrap" >Created</th>
                        <th class="" data-orderable="false">Links</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td style="background-color: #{{ team['Color'] }}" class="w-8 text-center">
                                <div class="text-xl">{{ team['Emoji'] }}</div>
                            </td>
                            <td class="" data-order="{{ team['Location'] }} {{ team['Name'] }}">
                                <a href="https://mmolb.com/team/{{ team['_id'] }}" class="font-semibold hover:underline">{{ team['Location'] }} {{ team['Name'] }}</a>
                            </td>
                            <td class="">
                                <span class="font-mono text-sm team-id">{{ team['_id'] }}</span>
                            </td>

                            <td class="" data-order="{{ team['League'] }}">
                                <a href="https://mmolb.com/league/{{ team['League'] }}" class="hover:underline">{{ team['league_emoji'] }} {{ team['league'] }} League</a>
                            </td>
                            <td class="">{{ team["wins"] }}</td>
                            <td class="">{{ team["losses"] }}</td>
                            <td class="">{{ team['rd'] }}</td>
                            <td class="" data-order="{{ team['created_iso'] }}"><time datetime="{{ team['created_iso'] }}">{{ team['created_formatted'] }}</time></td>
                            <td class="">
                                <a href="/games/{{ team['_id'] }}" class="hover:underline text-sm text-gray-600">games</a> / <a href="/team/{{ team['_id'] }}/stats" class="hover:underline text-sm text-gray-600">stats</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        for (const elem of document.querySelectorAll("time")) {
            const dt = new Date(elem.getAttribute('datetime'));

            const formatted = dateFns.format(dt, 'Pp');
            elem.innerText = formatted;
            elem.setAttribute("title", dateFns.formatISO(dt))
            elem.classList.add("underline")
            elem.classList.add("decoration-dotted")
        }

        new DataTable('#teams', {
            paging: false,
            order: [[1, "asc"]]
        });

        for (const elem of document.querySelectorAll(".team-id")) {
            elem.addEventListener("click", (e) => {
                const sel = window.getSelection();
                sel?.selectAllChildren(e.target);
                
                // TODO: too much?
                // document.execCommand('copy');
                // var old = e.target.innerHTML;
                // e.target.innerText = "(copied!)";
                // setTimeout(() => {
                //     e.target.innerHTML = old;
                // }, 2000);
            });
        }
    </script>
  </body>
</html>